.main {
	margin: 0;
	padding: 0;
	width: 600px;
	height: auto;
}
.mainInfo {
	margin: 0;
	padding: 0;
	background-color: #F4F7FF
}

.product_header {
	font-weight: bold;
	font-size: 20px;
}
 table {
    width: 100%; /* Ширина таблицы */
    background: white; /* Цвет фона таблицы */
    border-spacing: 0px; /* Расстояние между ячейками */
}