<html ng-app="phonecatApp">
<head>
  <script src="angular.js"></script>
  <script src="js/controllers.js"></script>
 
   <title>MyApp</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="PhoneListCtrl">
<div class="difFunctions">
  <div class="func">
    Search: <input ng-model="query">
  </div>
  <div class="func">
    Sort by:
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
  </div>
      
</div>
 <table>
  	<tr>
      <td>
       <table class="tableInfo">
        <tr><td>Name</td></tr>
        <tr><td>store</td></tr>
        <tr><td>price</td></tr>
        <tr><td>type</td></tr>
        <tr><td>other</td></tr>
      </table>
      </td>
  		<td ng-repeat="phone in phones  | filter:query">
      <table class="tableInfo">
        <tr><td class="titleHeader">{{phone[1]}}</td></tr>
        <tr><td>{{phone[2]}}</td></tr>
        <tr><td>{{phone[3]}}</td></tr>
        <tr><td>{{phone[4]}}</td></tr>
        <tr><td>{{phone[5]}}</td></tr>
      </table>
      </td>
  	</tr>
  </table>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/infoScript.js"></script>
</body>
</html>